@font-face {
  font-family: 'HarmonyOS Sans TC';
  src: url('/fonts/harmonyos-sans-tc-300.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans TC';
  src: url('/fonts/harmonyos-sans-tc-400.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans TC';
  src: url('/fonts/harmonyos-sans-tc-500.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans TC';
  src: url('/fonts/harmonyos-sans-tc-700.woff2') format('woff2');
  font-weight: 700 900;
  font-display: swap;
}
